* {
  box-sizing: border-box;
}

body {
  
  font-size: 20px;
  padding: 30px;
  color: #6b6969;
   margin: 0 auto;
   width: 1000px;
}
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20px;
}

h1 span {
  color: rgb(233, 48, 48);
}

img {
  width: 600px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  margin:30px auto;
}

.child1 {
    width: 30%;
}

.child2 {
    width: 40%;
}

.child3 {
  background-color: rgb(17, 1, 1);
  padding: 10px;
  margin: 10px;
  line-height: 1.5;
  width: 28%;
}

.container2 {
  display: flex;
  gap: 30px;  
}

.childtwo {
  background-color: rgb(17, 1, 1);
  padding: 10px;
  margin: 10px; 
  line-height: 1.5;
  width: 40px
  align-items: start;
  flex: 1;
}

  .childone{
    flex:3; 
line-height: 1.5;

  }
    
    

